@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

html {
  overflow-x: hidden;
}

body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}

/* MAIN */
#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}
#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}
#content main .head-title .left .links {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
#content main .head-title .left .links li {
  color: var(--dark);
}
#content main .head-title .left .links li a {
  color: var(--dark-grey);
  pointer-events: none;
}
#content main .head-title .left .links li a.active {
  color: var(--blue);
  pointer-events: unset;
}

#content main .head-title .manual-archive input[type="submit"] {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  border:none;
  background: var(--blue);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}
#content main .head-title .manual-archive input[type="submit"]:hover{
  background-color: #2f76b3;
  transform: scale(1.05);
}

.download-btn{
    padding: 0.625rem 1.25rem;
    background-color: #3c91e6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 1rem;
}
.download-btn:hover {
    background-color: #2f76b3;
}
.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-top: 1.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 0.5rem;
}

.table thead {
  background-color: #3c91e6;
  color: white;
  text-align: left;
}

.table thead th {
  padding: 0.75rem 0.9375rem;
  font-weight: 600;
}

.table tbody tr {
  background-color: white;
  transition: background-color 0.3s ease;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table tbody td {
  padding: 0.75rem 0.9375rem;
  border-bottom: 0.0625rem solid #ddd;
  vertical-align: middle;
}
/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

}


